lib/metanorma/ietf/ietf.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns='https://www.metanorma.org/ns/standoc' xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="relaton-ietf.rng"/>
  <include href="isodoc.rng">
    <define name="ParagraphAttributes">
      <optional>
        <attribute name="align">
          <ref name="Alignments"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="keep-with-next">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="keep-with-previous">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="indent"/>
      </optional>
    </define>
    <define name="UlAttributes">
      <optional>
        <attribute name="nobullet">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="spacing"/>
      </optional>
      <optional>
        <attribute name="indent"/>
      </optional>
      <optional>
        <attribute name="bare">
          <data type="boolean"/>
        </attribute>
      </optional>
    </define>
    <define name="UlBody">
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="OlAttributes">
      <attribute name="type">
        <choice>
          <value>roman</value>
          <value>alphabet</value>
          <value>arabic</value>
          <value>roman_upper</value>
          <value>alphabet_upper</value>
          <value>text</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="group"/>
      </optional>
      <optional>
        <attribute name="spacing"/>
      </optional>
      <optional>
        <attribute name="start"/>
      </optional>
      <optional>
        <attribute name="indent"/>
      </optional>
    </define>
    <define name="OlBody">
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="DlAttributes">
      <optional>
        <attribute name="newline"/>
      </optional>
      <optional>
        <attribute name="indent"/>
      </optional>
      <optional>
        <attribute name="spacing"/>
      </optional>
    </define>
    <define name="DlBody">
      <oneOrMore>
        <ref name="dt"/>
        <ref name="dd"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="review">
      <element name="review">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <attribute name="reviewer"/>
        <optional>
          <attribute name="date">
            <data type="dateTime"/>
          </attribute>
        </optional>
        <attribute name="from">
          <data type="IDREF"/>
        </attribute>
        <optional>
          <attribute name="to">
            <data type="IDREF"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="display"/>
        </optional>
        <oneOrMore>
          <ref name="paragraph"/>
        </oneOrMore>
      </element>
    </define>
    <define name="NoteAttributes">
      <optional>
        <attribute name="removeInRFC"/>
      </optional>
    </define>
    <define name="NoteBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <oneOrMore>
        <ref name="paragraph"/>
      </oneOrMore>
    </define>
    <define name="PreAttributes">
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="align"/>
      </optional>
    </define>
    <define name="ImageAttributes" combine="interleave">
      <optional>
        <attribute name="align"/>
      </optional>
    </define>
    <define name="SourceAttributes" combine="interleave">
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="markers"/>
      </optional>
    </define>
    <define name="xref">
      <element name="xref">
        <attribute name="target">
          <data type="IDREF"/>
        </attribute>
        <optional>
          <attribute name="type">
            <ref name="ReferenceFormat"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="alt"/>
        </optional>
        <optional>
          <attribute name="format"/>
        </optional>
        <ref name="XrefBody"/>
      </element>
    </define>
    <define name="erefType">
      <optional>
        <attribute name="normative">
          <data type="boolean"/>
        </attribute>
      </optional>
      <attribute name="citeas"/>
      <attribute name="type">
        <ref name="ReferenceFormat"/>
      </attribute>
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="displayFormat"/>
      </optional>
      <optional>
        <attribute name="relative"/>
      </optional>
      <ref name="CitationType"/>
      <text/>
    </define>
    <define name="quote-source">
      <element name="source">
        <ref name="erefTypeURI"/>
      </element>
    </define>
    <define name="TableAttributes" combine="interleave">
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="align"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
    </define>
    <define name="Clause-Section">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="language"/>
      </optional>
      <optional>
        <attribute name="script"/>
      </optional>
      <optional>
        <attribute name="numbered"/>
      </optional>
      <optional>
        <attribute name="removeInRFC"/>
      </optional>
      <optional>
        <attribute name="toc"/>
      </optional>
      <optional>
        <attribute name="inline-header">
          <data type="boolean"/>
        </attribute>
      </optional>
      <attribute name="obligation">
        <choice>
          <value>normative</value>
          <value>informative</value>
        </choice>
      </attribute>
      <optional>
        <ref name="section-title"/>
      </optional>
      <group>
        <zeroOrMore>
          <ref name="BasicBlock"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="clause-subsection"/>
            <ref name="terms"/>
            <ref name="definitions"/>
          </choice>
        </zeroOrMore>
      </group>
    </define>
    <define name="annex">
      <element name="annex">
        <optional>
          <attribute name="id">
            <data type="ID"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="language"/>
        </optional>
        <optional>
          <attribute name="script"/>
        </optional>
        <attribute name="obligation">
          <choice>
            <value>normative</value>
            <value>informative</value>
          </choice>
        </attribute>
        <optional>
          <attribute name="numbered"/>
        </optional>
        <optional>
          <attribute name="removeInRFC"/>
        </optional>
        <optional>
          <attribute name="toc"/>
        </optional>
        <optional>
          <ref name="section-title"/>
        </optional>
        <group>
          <zeroOrMore>
            <ref name="BasicBlock"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="clause-subsection"/>
          </zeroOrMore>
        </group>
      </element>
    </define>
    <define name="Content-Section">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="language"/>
      </optional>
      <optional>
        <attribute name="script"/>
      </optional>
      <optional>
        <attribute name="numbered"/>
      </optional>
      <optional>
        <attribute name="removeInRFC"/>
      </optional>
      <optional>
        <attribute name="toc"/>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <group>
        <zeroOrMore>
          <ref name="BasicBlock"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="content-subsection"/>
        </zeroOrMore>
      </group>
    </define>
    <define name="index">
      <element name="index">
        <optional>
          <attribute name="to">
            <data type="IDREF"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="primary">
            <data type="boolean"/>
          </attribute>
        </optional>
        <element name="primary">
          <oneOrMore>
            <ref name="PureTextElement"/>
          </oneOrMore>
        </element>
        <optional>
          <element name="secondary">
            <oneOrMore>
              <ref name="PureTextElement"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="tertiary">
            <oneOrMore>
              <ref name="PureTextElement"/>
            </oneOrMore>
          </element>
        </optional>
      </element>
    </define>
    <define name="standard-document">
      <element name="metanorma">
        <ref name="Root-Attributes"/>
        <ref name="bibdata"/>
        <zeroOrMore>
          <ref name="termdocsource"/>
        </zeroOrMore>
        <optional>
          <ref name="misccontainer"/>
        </optional>
        <optional>
          <ref name="boilerplate"/>
        </optional>
        <ref name="preface"/>
        <oneOrMore>
          <ref name="sections"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="annex"/>
        </zeroOrMore>
        <ref name="bibliography"/>
        <zeroOrMore>
          <ref name="indexsect"/>
        </zeroOrMore>
      </element>
    </define>
  </include>
  <!-- end overrides -->
  <define name="TextElement" combine="choice">
    <choice>
      <ref name="bcp14"/>
      <ref name="review"/>
    </choice>
  </define>
  <define name="bcp14">
    <element name="bcp14">
      <text/>
    </element>
  </define>
  <define name="comment">
    <element name="comment">
      <text/>
    </element>
  </define>
  <define name="erefTypeURI">
    <optional>
      <attribute name="normative">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="citeas"/>
    </optional>
    <attribute name="type">
      <ref name="ReferenceFormat"/>
    </attribute>
    <optional>
      <attribute name="alt"/>
    </optional>
    <optional>
      <attribute name="displayFormat"/>
    </optional>
    <optional>
      <attribute name="relative"/>
    </optional>
    <optional>
      <attribute name="bibitemid">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="uri">
        <data type="anyURI"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="locality"/>
    </zeroOrMore>
    <optional>
      <ref name="date"/>
    </optional>
    <text/>
  </define>
</grammar>
